@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.topnav {
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
  background-color: yellowgreen;
  position : absolute ;
  left :0%;
  right: 0%; 
  top:0%;
  height:8%;
  width:100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: green;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.form{
  position:absolute;
  left:0%;
  right:0%;
  top:8%;
  height: 50%;
  background-color: #6565ae;
 font-family: 'Poppins', sans-serif;
  padding: 100px;

}
.form input[type=textarea], select {
  background-color:#9f9fdb;
  color:white;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  margin-left: 500px;
  border-radius:10px;
  border-color:white;
  border-width:10px;
}
.form label{
  color: white;
  margin-left: 500px;
}
.form button {
  margin-left: 500px;
}
.form h1{
  margin-left: 500px;
  color: white;
}
.form button{
  font-family: 'Poppins', sans-serif;
  width:200px;
  color:white;
  background-color:#9f9fdb;
  border-width:8px;
  border-color:white;
  font-weight:bolder;
}
